<a href="https://colab.research.google.com/github/celamyrrha/analise_de_dados_CECIERJ/blob/main/Avaliacao01_Marcela_Myrrha_da_Silva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Avaliação 1 - Semana 09 e 10

Esta é **avaliação 1 (A1)**. Você deverá preenchê-la e enviá-la dentro do prazo (até o fechamento da semana corrente).

###Questão 1: Listas

*Laureados com o prêmio Nobel da Paz*

O Prêmio Nobel da Paz é concedido anualmente pelo Comitê Nobel Norueguês 'para a pessoa/organização que tenha feito o maior ou o melhor trabalho pela fraternidade entre nações, pela abolição ou redução dos exércitos permanentes e pela manutenção e promoção de congressos de paz.'

**(0,5 ponto)** 1.a) Crie uma *lista* com os nomes dos seguintes laureados com o Nobel da paz entre 2018 e 2021:

*   Dmitry Muratov
*   Maria Ressa
*   Programa Alimentar Mundial
*   Abiy Ahmed Ali
*   Denis Mukwege
*   Fausto Silva

Chame a lista como `nobel`.

In [ ]:
# Questao 1
# 1.a) 
nobel = ["Dmitry Muratov","Maria Ressa","Programa Alimentar Mundial","Abiy Ahmed Ali","Denis Mukwege","Fausto Silva"]
print(nobel)

['Dmitry Muratov', 'Maria Ressa', 'Programa Alimentar Mundial', 'Abiy Ahmed Ali', 'Denis Mukwege', 'Fausto Silva']

**(0,5 ponto)** 1.b) _Ô loco, bicho!_ Algo está errado nessa lista. Por um _engano do estagiário_, `Fausto Siva` foi incluído na lista indevidamente. Remova seu nome da lista e salve as alterações no mesmo objeto.

In [ ]:
# Questao 1
# 1.b) 
nobel.remove("Fausto Silva")
print(nobel)

['Dmitry Muratov', 'Maria Ressa', 'Programa Alimentar Mundial', 'Abiy Ahmed Ali', 'Denis Mukwege']

**(0,5 ponto)** 1.c) Nota-se que a lista não está ordenada segundo a ordem dos premiados. Reverta a ordem da lista `nobel` e salve as alterações no mesmo objeto.

In [ ]:
# Questao 1
# 1.c) 
nobel.reverse()
print(nobel)

['Denis Mukwege', 'Abiy Ahmed Ali', 'Programa Alimentar Mundial', 'Maria Ressa', 'Dmitry Muratov']

**(0,5 ponto)** 1.d) A vencedora _Nadia Murad_ não está na lista! Adicione seu nome entre `Denis Mukwege` e `Abiy Ahmed Ali`. Salve as alterações no objeto `nobel`.

In [ ]:
# Questao 1
# 1.d) 
nobel.insert(1,"Nadia Murad")
print(nobel)

['Denis Mukwege', 'Nadia Murad', 'Abiy Ahmed Ali', 'Programa Alimentar Mundial', 'Maria Ressa', 'Dmitry Muratov']

**(0,5 ponto)** 1.e) O resultado de 2022 acaba de sair. Adicione ao fim da lista os seguintes nomes:

*   Ales Bialiatski
*   Memorial
*   Centro de Liberdades Civis

Salve as alterações no objeto `nobel`.

In [ ]:
# Questao 1
# 1.e) 
nobel.extend(["Ales Bialiatski","Memorial","Centro de Liberdades Civis"])
print(nobel)

['Denis Mukwege', 'Nadia Murad', 'Abiy Ahmed Ali', 'Programa Alimentar Mundial', 'Maria Ressa', 'Dmitry Muratov', 'Ales Bialiatski', 'Memorial', 'Centro de Liberdades Civis']

###Questão 2: Funções

**(0,5 ponto)** 2.a) Eventualmente, padronizamos nomes em bases de dados com letras maiúsculas. Crie uma função da qual a entrada seja uma `string` com o nome do cliente e a saída seja esse mesmo nome com letras maiusculas. Teste utilizando seu nome completo.

In [ ]:
# Questao 2
# 2.a) 

# Funcao
def maiusculas(cliente):
  cliente = cliente.upper() 
  return cliente

# Teste
maiusculas("Marcela Myrrha da Silva")

'MARCELA MYRRHA DA SILVA'

**(0,5 ponto)** 2.b) Crie uma função da qual a entrada seja uma `string` com uma palavra e a saída seja essa mesma palavra de trás pra frente. Por exemplo, `dados` -> `sodad`. Teste utilizando sua palavra de preferência.

In [ ]:
# Questao 2
# 2.b) 

# Funcao
def inverter(palavra):
  palavra = palavra[::-1]
  return palavra

# Teste
inverter("feriado")

'odairef'

**(0,5 ponto)** 2.c) Você sabe o que é palíndromo? Palíndromo é uma palavra, frase ou número que permanece igual quando lidos de trás para frente. Por exemplo, _arara_, _Ana_, _luz azul_, etc. Crie uma função que cheque se a palavra de entrada é um palíndromo.

In [ ]:
# Questao 2
# 2.c) 

# Funcao
def palindromo(palavra):
  palavra2 = palavra[::-1]
  if palavra2 == palavra:
    print("É palíndromo!")
  else:
    print("Não é palíndromo :(")
  

# Teste
palindromo("casa")
palindromo("asa")

Não é palíndromo :(
É palíndromo!

**(0,5 ponto)** 2.d) Crie uma função com 2 argumentos `valor` e `percentual` que calcule o percentual de um determinado valor. Teste a função utilizando sua idade.

> Dica: o percentual $p$ de um valor $v$ é igual a $v \times \frac{p}{100}$.

In [ ]:
# Questao 2
# 2.d) 

# Funcao
def calcula_percentual(valor, percentual):
  percentual_valor = valor*(percentual/100)

  return print(percentual_valor)


# Teste
calcula_percentual(35,10)

3.5

**(0,5 ponto)** 2.e) Suponha que uma empresa cobra taxa de 5,5% de multa para atrasos em pagamentos. Crie uma função que calcule o valor atualizado de uma dívida. 

> Dica: o montante (ou total) da dívida $m$ é igual a $v \times \frac{(100+p)}{100}$ ou $v + v \times \frac{p}{100}$.

In [ ]:
# Questao 2
# 2.e) 

# Funcao
def multa(divida):
  valor_atual = divida + (divida*(5.5/100))

  return print(valor_atual)
# Teste
multa(1000)

1055.0

###Questão 3: Manipulando base de dados

A base de dados abaixo é uma das mais famosas utilizadas para aprendizado em Ciência de Dados. Ela diz respeito à clientes de um banco tailândes. Você deverá editar essa base da seguinte forma:

In [ ]:
# Questao 3
# NAO ALTERE ESSES COMANDOS
# A BASE SERA CARREGADA NO OBJETO `CREDITO`
# USE ESSE OBJETO PARA SEGUIR COM OS EXERCICIOS
import gdown
import pandas as pd

url = 'https://drive.google.com/uc?id=1R1nvX6MocByvYBvMs5ujUhbdpW0gRe_X'
output = 'dados_credito.csv'
gdown.download(url, output, quiet=False)

credito = pd.read_csv('/content/dados_credito.csv', sep=';', decimal=',')
credito.head(10)

Downloading...
From: https://drive.google.com/uc?id=1R1nvX6MocByvYBvMs5ujUhbdpW0gRe_X
To: /content/dados_credito.csv
100%|██████████| 3.39k/3.39k [00:00<00:00, 2.54MB/s]

,id,limites,sexo,escolaridade,status_civil,xxxxx_idade_errorrrrrrrrrr,pagamento,valor_divida,valor_pago
0,1,20000.0,2.0,2.0,1.0,24.0,2.0,3913.0,0.0
1,2,120000.0,2.0,2.0,2.0,26.0,-1.0,2682.0,0.0
2,3,90000.0,2.0,2.0,2.0,34.0,0.0,29239.0,1518.0
3,4,50000.0,2.0,2.0,1.0,37.0,0.0,46990.0,2000.0
4,5,50000.0,1.0,2.0,1.0,57.0,-1.0,8617.0,2000.0
5,6,50000.0,1.0,1.0,2.0,37.0,0.0,64400.0,2500.0
6,7,500000.0,1.0,1.0,2.0,29.0,0.0,367965.0,55000.0
7,8,100000.0,2.0,2.0,2.0,23.0,0.0,11876.0,380.0
8,9,140000.0,2.0,3.0,1.0,28.0,0.0,11285.0,3329.0
9,10,20000.0,1.0,3.0,2.0,35.0,-2.0,0.0,0.0

**(0,5 ponto)** 3.a) Verifique se os nomes das colunas estão corretos. Caso algum não esteja, corrija-o. Atualize o `data.frame`.

In [ ]:
# Questao 3
# 3.a) 
print(credito.columns)

credito.columns = ['id', 'limites', 'sexo', 'escolaridade', 'status_civil', 'idade', 'pagamento', 'valor_divida', 'valor_pago']

Index(['id', 'limites', 'sexo', 'escolaridade', 'status_civil', 'idade',
       'pagamento', 'valor_divida', 'valor_pago'],
      dtype='object')

**(0,5 ponto)** 3.b) Verifique se há _valores faltantes_ no banco. Caso positivo, remova-os e atualize a base.

In [ ]:
# Questao 3
# 3.b) 
print (credito.isnull().sum())

credito = credito.dropna()

id              0
limites         0
sexo            0
escolaridade    0
status_civil    0
idade           0
pagamento       0
valor_divida    0
valor_pago      0
dtype: int64

**(0,5 ponto)** 3.c) As variáveis `limites`, `valor_divida` e `valor_pago` estão em dólar taiwanês. Assuma que cada dólar taiwânes valha R$0,20. Transforme essas variáveis para que o valor esteja em reais (moeda).

> Dica: Multiplique cada variável por 0,2.


> Aviso: Caso apareça o seguinte aviso `A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead`, ignore por enquanto e veja se o cálculo foi realizado corretamente.

In [ ]:
# Questao 3
# 3.c) 
def dolar_taiwanes(coluna):
  credito[coluna] = credito[coluna] * 0.2

dolar_taiwanes("limites")
dolar_taiwanes("valor_divida")
dolar_taiwanes("valor_pago")

credito

,id,limites,sexo,escolaridade,status_civil,idade,pagamento,valor_divida,valor_pago
0,1,4000.0,2.0,2.0,1.0,24.0,2.0,782.6,0.0
1,2,24000.0,2.0,2.0,2.0,26.0,-1.0,536.4,0.0
2,3,18000.0,2.0,2.0,2.0,34.0,0.0,5847.8,303.6
3,4,10000.0,2.0,2.0,1.0,37.0,0.0,9398.0,400.0
4,5,10000.0,1.0,2.0,1.0,57.0,-1.0,1723.4,400.0
5,6,10000.0,1.0,1.0,2.0,37.0,0.0,12880.0,500.0
6,7,100000.0,1.0,1.0,2.0,29.0,0.0,73593.0,11000.0
7,8,20000.0,2.0,2.0,2.0,23.0,0.0,2375.2,76.0
8,9,28000.0,2.0,3.0,1.0,28.0,0.0,2257.0,665.8
9,10,4000.0,1.0,3.0,2.0,35.0,-2.0,0.0,0.0
10,11,40000.0,2.0,3.0,2.0,34.0,0.0,2214.6,461.2
11,12,52000.0,2.0,1.0,2.0,51.0,-1.0,2452.2,4363.6
12,13,126000.0,2.0,2.0,2.0,41.0,-1.0,2427.4,200.0
13,14,14000.0,1.0,2.0,2.0,30.0,1.0,13160.4,640.0
14,15,50000.0,1.0,1.0,2.0,29.0,0.0,14177.4,600.0
15,16,10000.0,2.0,3.0,3.0,23.0,1.0,10122.8,0.0
16,17,4000.0,1.0,1.0,2.0,24.0,0.0,3075.2,640.0
17,18,64000.0,1.0,1.0,1.0,49.0,0.0,50657.2,2071.6
18,19,72000.0,2.0,1.0,1.0,49.0,1.0,0.0,0.0
19,20,36000.0,2.0,1.0,2.0,29.0,1.0,0.0,0.0
20,21,26000.0,2.0,3.0,2.0,39.0,0.0,7671.6,600.0
21,22,24000.0,2.0,2.0,1.0,39.0,-1.0,63.2,63.2
22,23,14000.0,2.0,2.0,2.0,26.0,2.0,8217.4,401.4
23,24,90000.0,2.0,1.0,1.0,40.0,-2.0,1102.4,3885.6
24,25,18000.0,1.0,1.0,2.0,23.0,0.0,948.8,1151.4
25,26,10000.0,1.0,3.0,2.0,23.0,0.0,9524.0,394.6
26,27,12000.0,1.0,1.0,2.0,27.0,1.0,-21.8,0.0
27,28,10000.0,2.0,3.0,2.0,30.0,0.0,4508.2,260.0
28,29,10000.0,2.0,3.0,1.0,47.0,-1.0,130.0,683.0
29,30,10000.0,1.0,1.0,2.0,26.0,0.0,3065.8,300.0
30,31,46000.0,2.0,1.0,2.0,27.0,-1.0,3329.2,3454.0
31,32,10000.0,1.0,2.0,2.0,33.0,2.0,6103.6,343.6
32,33,20000.0,1.0,1.0,2.0,32.0,0.0,18607.2,604.6
33,34,100000.0,2.0,2.0,1.0,54.0,-2.0,2185.8,830.4
34,35,100000.0,1.0,1.0,1.0,58.0,-2.0,2741.8,1001.2
35,36,32000.0,1.0,1.0,2.0,30.0,-1.0,6053.0,26.2
36,37,56000.0,1.0,2.0,1.0,40.0,0.0,37300.6,1605.2
37,38,12000.0,2.0,2.0,2.0,22.0,0.0,3010.8,300.0
38,39,10000.0,1.0,1.0,2.0,25.0,1.0,0.0,156.0
39,40,56000.0,1.0,1.0,2.0,31.0,-1.0,99.6,1815.0
40,41,72000.0,1.0,1.0,2.0,33.0,0.0,43733.6,2000.0
41,42,14000.0,2.0,1.0,2.0,25.0,0.0,13504.2,600.0
42,43,2000.0,1.0,2.0,2.0,22.0,0.0,375.4,300.0
43,44,28000.0,2.0,2.0,1.0,37.0,0.0,11900.8,600.0
44,45,8000.0,2.0,1.0,2.0,30.0,0.0,3785.4,600.0
45,46,42000.0,1.0,1.0,2.0,29.0,-2.0,0.0,0.0
46,47,4000.0,2.0,1.0,2.0,22.0,0.0,2805.6,600.0
47,48,30000.0,2.0,5.0,2.0,46.0,0.0,892.6,202.6
48,49,76000.0,1.0,2.0,2.0,32.0,-1.0,4480.2,4308.0
49,50,4000.0,1.0,1.0,2.0,24.0,0.0,3489.4,263.6

**(0,5 ponto)** 3.d) O banco está codificado. Vamos criar variáveis que _traduzam_ os códigos. Crie no banco `credito` as seguintes variáveis:

`sexo2`: `sexo = 1, sexo2 = Masculino` ou  `sexo = 2, sexo2 = Feminino` 

`escolaridade2`: `escolaridade <= 2, escolaridade2 = Ensino superior ou maior` ou `escolaridade >= 3, escolaridade2 = Ensino medio ou menor` 

`status_civil2`: `status_civil = 1, status_civil2 = Casado(a)` ou  `status_civil = 2, status_civil2 = Solteiro(a)` ou `status_civil = 3, status_civil2 = Outros`

`pagamento2`: `pagamento < 0, pagamento2 = Antecipado` ou `pagamento = 0, pagamento2 = Em dia` ou `pagamento > 0, pagamento2 = Atrasado`

In [ ]:
# Questao 3
# 3.d) 
#Criação da coluna sexo2
credito.loc[credito["sexo"] == 1, "sexo2"] = "Masculino"
credito.loc[credito["sexo"] == 2, "sexo2"] = "Feminino"

#Criação da coluna escolaridade2
credito.loc[credito["escolaridade"] <= 2, "escolaridade2"] = "Ensino superior ou maior"
credito.loc[credito["escolaridade"] >= 3, "escolaridade2"] = "Ensino medio ou menor"

#Criação da coluna status_civil2
credito.loc[credito["status_civil"] == 1, "status_civil2"] = "Casado(a)"
credito.loc[credito["status_civil"] == 2, "status_civil2"] = "Solteiro(a)"
credito.loc[credito["status_civil"] == 3, "status_civil2"] = "Outros"

#Criação da coluna pagamento2
credito.loc[credito["pagamento"] < 0, "pagamento2"] = "Antecipado"
credito.loc[credito["pagamento"] == 0, "pagamento2"] = "Em dia"
credito.loc[credito["pagamento"] > 0, "pagamento2"] = "Atrasado"

credito

,id,limites,sexo,escolaridade,status_civil,idade,pagamento,valor_divida,valor_pago,sexo2,escolaridade2,status_civil2,pagamento2
0,1,4000.0,2.0,2.0,1.0,24.0,2.0,782.6,0.0,Feminino,Ensino superior ou maior,Casado(a),Atrasado
1,2,24000.0,2.0,2.0,2.0,26.0,-1.0,536.4,0.0,Feminino,Ensino superior ou maior,Solteiro(a),Antecipado
2,3,18000.0,2.0,2.0,2.0,34.0,0.0,5847.8,303.6,Feminino,Ensino superior ou maior,Solteiro(a),Em dia
3,4,10000.0,2.0,2.0,1.0,37.0,0.0,9398.0,400.0,Feminino,Ensino superior ou maior,Casado(a),Em dia
4,5,10000.0,1.0,2.0,1.0,57.0,-1.0,1723.4,400.0,Masculino,Ensino superior ou maior,Casado(a),Antecipado
5,6,10000.0,1.0,1.0,2.0,37.0,0.0,12880.0,500.0,Masculino,Ensino superior ou maior,Solteiro(a),Em dia
6,7,100000.0,1.0,1.0,2.0,29.0,0.0,73593.0,11000.0,Masculino,Ensino superior ou maior,Solteiro(a),Em dia
7,8,20000.0,2.0,2.0,2.0,23.0,0.0,2375.2,76.0,Feminino,Ensino superior ou maior,Solteiro(a),Em dia
8,9,28000.0,2.0,3.0,1.0,28.0,0.0,2257.0,665.8,Feminino,Ensino medio ou menor,Casado(a),Em dia
9,10,4000.0,1.0,3.0,2.0,35.0,-2.0,0.0,0.0,Masculino,Ensino medio ou menor,Solteiro(a),Antecipado
10,11,40000.0,2.0,3.0,2.0,34.0,0.0,2214.6,461.2,Feminino,Ensino medio ou menor,Solteiro(a),Em dia
11,12,52000.0,2.0,1.0,2.0,51.0,-1.0,2452.2,4363.6,Feminino,Ensino superior ou maior,Solteiro(a),Antecipado
12,13,126000.0,2.0,2.0,2.0,41.0,-1.0,2427.4,200.0,Feminino,Ensino superior ou maior,Solteiro(a),Antecipado
13,14,14000.0,1.0,2.0,2.0,30.0,1.0,13160.4,640.0,Masculino,Ensino superior ou maior,Solteiro(a),Atrasado
14,15,50000.0,1.0,1.0,2.0,29.0,0.0,14177.4,600.0,Masculino,Ensino superior ou maior,Solteiro(a),Em dia
15,16,10000.0,2.0,3.0,3.0,23.0,1.0,10122.8,0.0,Feminino,Ensino medio ou menor,Outros,Atrasado
16,17,4000.0,1.0,1.0,2.0,24.0,0.0,3075.2,640.0,Masculino,Ensino superior ou maior,Solteiro(a),Em dia
17,18,64000.0,1.0,1.0,1.0,49.0,0.0,50657.2,2071.6,Masculino,Ensino superior ou maior,Casado(a),Em dia
18,19,72000.0,2.0,1.0,1.0,49.0,1.0,0.0,0.0,Feminino,Ensino superior ou maior,Casado(a),Atrasado
19,20,36000.0,2.0,1.0,2.0,29.0,1.0,0.0,0.0,Feminino,Ensino superior ou maior,Solteiro(a),Atrasado
20,21,26000.0,2.0,3.0,2.0,39.0,0.0,7671.6,600.0,Feminino,Ensino medio ou menor,Solteiro(a),Em dia
21,22,24000.0,2.0,2.0,1.0,39.0,-1.0,63.2,63.2,Feminino,Ensino superior ou maior,Casado(a),Antecipado
22,23,14000.0,2.0,2.0,2.0,26.0,2.0,8217.4,401.4,Feminino,Ensino superior ou maior,Solteiro(a),Atrasado
23,24,90000.0,2.0,1.0,1.0,40.0,-2.0,1102.4,3885.6,Feminino,Ensino superior ou maior,Casado(a),Antecipado
24,25,18000.0,1.0,1.0,2.0,23.0,0.0,948.8,1151.4,Masculino,Ensino superior ou maior,Solteiro(a),Em dia
25,26,10000.0,1.0,3.0,2.0,23.0,0.0,9524.0,394.6,Masculino,Ensino medio ou menor,Solteiro(a),Em dia
26,27,12000.0,1.0,1.0,2.0,27.0,1.0,-21.8,0.0,Masculino,Ensino superior ou maior,Solteiro(a),Atrasado
27,28,10000.0,2.0,3.0,2.0,30.0,0.0,4508.2,260.0,Feminino,Ensino medio ou menor,Solteiro(a),Em dia
28,29,10000.0,2.0,3.0,1.0,47.0,-1.0,130.0,683.0,Feminino,Ensino medio ou menor,Casado(a),Antecipado
29,30,10000.0,1.0,1.0,2.0,26.0,0.0,3065.8,300.0,Masculino,Ensino superior ou maior,Solteiro(a),Em dia
30,31,46000.0,2.0,1.0,2.0,27.0,-1.0,3329.2,3454.0,Feminino,Ensino superior ou maior,Solteiro(a),Antecipado
31,32,10000.0,1.0,2.0,2.0,33.0,2.0,6103.6,343.6,Masculino,Ensino superior ou maior,Solteiro(a),Atrasado
32,33,20000.0,1.0,1.0,2.0,32.0,0.0,18607.2,604.6,Masculino,Ensino superior ou maior,Solteiro(a),Em dia
33,34,100000.0,2.0,2.0,1.0,54.0,-2.0,2185.8,830.4,Feminino,Ensino superior ou maior,Casado(a),Antecipado
34,35,100000.0,1.0,1.0,1.0,58.0,-2.0,2741.8,1001.2,Masculino,Ensino superior ou maior,Casado(a),Antecipado
35,36,32000.0,1.0,1.0,2.0,30.0,-1.0,6053.0,26.2,Masculino,Ensino superior ou maior,Solteiro(a),Antecipado
36,37,56000.0,1.0,2.0,1.0,40.0,0.0,37300.6,1605.2,Masculino,Ensino superior ou maior,Casado(a),Em dia
37,38,12000.0,2.0,2.0,2.0,22.0,0.0,3010.8,300.0,Feminino,Ensino superior ou maior,Solteiro(a),Em dia
38,39,10000.0,1.0,1.0,2.0,25.0,1.0,0.0,156.0,Masculino,Ensino superior ou maior,Solteiro(a),Atrasado
39,40,56000.0,1.0,1.0,2.0,31.0,-1.0,99.6,1815.0,Masculino,Ensino superior ou maior,Solteiro(a),Antecipado
40,41,72000.0,1.0,1.0,2.0,33.0,0.0,43733.6,2000.0,Masculino,Ensino superior ou maior,Solteiro(a),Em dia
41,42,14000.0,2.0,1.0,2.0,25.0,0.0,13504.2,600.0,Feminino,Ensino superior ou maior,Solteiro(a),Em dia
42,43,2000.0,1.0,2.0,2.0,22.0,0.0,375.4,300.0,Masculino,Ensino superior ou maior,Solteiro(a),Em dia
43,44,28000.0,2.0,2.0,1.0,37.0,0.0,11900.8,600.0,Feminino,Ensino superior ou maior,Casado(a),Em dia
44,45,8000.0,2.0,1.0,2.0,30.0,0.0,3785.4,600.0,Feminino,Ensino superior ou maior,Solteiro(a),Em dia
45,46,42000.0,1.0,1.0,2.0,29.0,-2.0,0.0,0.0,Masculino,Ensino superior ou maior,Solteiro(a),Antecipado
46,47,4000.0,2.0,1.0,2.0,22.0,0.0,2805.6,600.0,Feminino,Ensino superior ou maior,Solteiro(a),Em dia
47,48,30000.0,2.0,5.0,2.0,46.0,0.0,892.6,202.6,Feminino,Ensino medio ou menor,Solteiro(a),Em dia
48,49,76000.0,1.0,2.0,2.0,32.0,-1.0,4480.2,4308.0,Masculino,Ensino superior ou maior,Solteiro(a),Antecipado
49,50,4000.0,1.0,1.0,2.0,24.0,0.0,3489.4,263.6,Masculino,Ensino superior ou maior,Solteiro(a),Em dia

**(0,5 ponto)** 3.e) Organize a base de dados na seguinte ordem:
`id`, `limites`, `sexo2`, `escolaridade2`, `status_civil2`, `idade`, `pagamento2`, `valor_divida`, `valor_pago`. Descarte as variáveis `sexo`, `escolaridade`, `status_civil`, e `pagamento`.

Salve a base resultante.

In [ ]:
# Questao 3
# 3.e) 
credito = credito.iloc[:, [0, 1, 9, 10, 11, 5, 12, 7, 8]]
credito

,id,limites,sexo2,escolaridade2,status_civil2,idade,pagamento2,valor_divida,valor_pago
0,1,4000.0,Feminino,Ensino superior ou maior,Casado(a),24.0,Atrasado,782.6,0.0
1,2,24000.0,Feminino,Ensino superior ou maior,Solteiro(a),26.0,Antecipado,536.4,0.0
2,3,18000.0,Feminino,Ensino superior ou maior,Solteiro(a),34.0,Em dia,5847.8,303.6
3,4,10000.0,Feminino,Ensino superior ou maior,Casado(a),37.0,Em dia,9398.0,400.0
4,5,10000.0,Masculino,Ensino superior ou maior,Casado(a),57.0,Antecipado,1723.4,400.0
5,6,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),37.0,Em dia,12880.0,500.0
6,7,100000.0,Masculino,Ensino superior ou maior,Solteiro(a),29.0,Em dia,73593.0,11000.0
7,8,20000.0,Feminino,Ensino superior ou maior,Solteiro(a),23.0,Em dia,2375.2,76.0
8,9,28000.0,Feminino,Ensino medio ou menor,Casado(a),28.0,Em dia,2257.0,665.8
9,10,4000.0,Masculino,Ensino medio ou menor,Solteiro(a),35.0,Antecipado,0.0,0.0
10,11,40000.0,Feminino,Ensino medio ou menor,Solteiro(a),34.0,Em dia,2214.6,461.2
11,12,52000.0,Feminino,Ensino superior ou maior,Solteiro(a),51.0,Antecipado,2452.2,4363.6
12,13,126000.0,Feminino,Ensino superior ou maior,Solteiro(a),41.0,Antecipado,2427.4,200.0
13,14,14000.0,Masculino,Ensino superior ou maior,Solteiro(a),30.0,Atrasado,13160.4,640.0
14,15,50000.0,Masculino,Ensino superior ou maior,Solteiro(a),29.0,Em dia,14177.4,600.0
15,16,10000.0,Feminino,Ensino medio ou menor,Outros,23.0,Atrasado,10122.8,0.0
16,17,4000.0,Masculino,Ensino superior ou maior,Solteiro(a),24.0,Em dia,3075.2,640.0
17,18,64000.0,Masculino,Ensino superior ou maior,Casado(a),49.0,Em dia,50657.2,2071.6
18,19,72000.0,Feminino,Ensino superior ou maior,Casado(a),49.0,Atrasado,0.0,0.0
19,20,36000.0,Feminino,Ensino superior ou maior,Solteiro(a),29.0,Atrasado,0.0,0.0
20,21,26000.0,Feminino,Ensino medio ou menor,Solteiro(a),39.0,Em dia,7671.6,600.0
21,22,24000.0,Feminino,Ensino superior ou maior,Casado(a),39.0,Antecipado,63.2,63.2
22,23,14000.0,Feminino,Ensino superior ou maior,Solteiro(a),26.0,Atrasado,8217.4,401.4
23,24,90000.0,Feminino,Ensino superior ou maior,Casado(a),40.0,Antecipado,1102.4,3885.6
24,25,18000.0,Masculino,Ensino superior ou maior,Solteiro(a),23.0,Em dia,948.8,1151.4
25,26,10000.0,Masculino,Ensino medio ou menor,Solteiro(a),23.0,Em dia,9524.0,394.6
26,27,12000.0,Masculino,Ensino superior ou maior,Solteiro(a),27.0,Atrasado,-21.8,0.0
27,28,10000.0,Feminino,Ensino medio ou menor,Solteiro(a),30.0,Em dia,4508.2,260.0
28,29,10000.0,Feminino,Ensino medio ou menor,Casado(a),47.0,Antecipado,130.0,683.0
29,30,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),26.0,Em dia,3065.8,300.0
30,31,46000.0,Feminino,Ensino superior ou maior,Solteiro(a),27.0,Antecipado,3329.2,3454.0
31,32,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),33.0,Atrasado,6103.6,343.6
32,33,20000.0,Masculino,Ensino superior ou maior,Solteiro(a),32.0,Em dia,18607.2,604.6
33,34,100000.0,Feminino,Ensino superior ou maior,Casado(a),54.0,Antecipado,2185.8,830.4
34,35,100000.0,Masculino,Ensino superior ou maior,Casado(a),58.0,Antecipado,2741.8,1001.2
35,36,32000.0,Masculino,Ensino superior ou maior,Solteiro(a),30.0,Antecipado,6053.0,26.2
36,37,56000.0,Masculino,Ensino superior ou maior,Casado(a),40.0,Em dia,37300.6,1605.2
37,38,12000.0,Feminino,Ensino superior ou maior,Solteiro(a),22.0,Em dia,3010.8,300.0
38,39,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),25.0,Atrasado,0.0,156.0
39,40,56000.0,Masculino,Ensino superior ou maior,Solteiro(a),31.0,Antecipado,99.6,1815.0
40,41,72000.0,Masculino,Ensino superior ou maior,Solteiro(a),33.0,Em dia,43733.6,2000.0
41,42,14000.0,Feminino,Ensino superior ou maior,Solteiro(a),25.0,Em dia,13504.2,600.0
42,43,2000.0,Masculino,Ensino superior ou maior,Solteiro(a),22.0,Em dia,375.4,300.0
43,44,28000.0,Feminino,Ensino superior ou maior,Casado(a),37.0,Em dia,11900.8,600.0
44,45,8000.0,Feminino,Ensino superior ou maior,Solteiro(a),30.0,Em dia,3785.4,600.0
45,46,42000.0,Masculino,Ensino superior ou maior,Solteiro(a),29.0,Antecipado,0.0,0.0
46,47,4000.0,Feminino,Ensino superior ou maior,Solteiro(a),22.0,Em dia,2805.6,600.0
47,48,30000.0,Feminino,Ensino medio ou menor,Solteiro(a),46.0,Em dia,892.6,202.6
48,49,76000.0,Masculino,Ensino superior ou maior,Solteiro(a),32.0,Antecipado,4480.2,4308.0
49,50,4000.0,Masculino,Ensino superior ou maior,Solteiro(a),24.0,Em dia,3489.4,263.6

**(0,5 ponto)** 3.f) Crie a variável `debito = valor_divida - valor_pago`. Existe algum cliente que possui débito negativo (ou seja, crédito)? Se sim, quantos? 

Salve a base atualizada.

In [ ]:
# Questao 3
# 3.f) 
credito["debito"] = credito["valor_divida"] - credito["valor_pago"]
credito

<ipython-input-44-ec5bc0b13260>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credito["debito"] = credito["valor_divida"] - credito["valor_pago"]

,id,limites,sexo2,escolaridade2,status_civil2,idade,pagamento2,valor_divida,valor_pago,debito
0,1,4000.0,Feminino,Ensino superior ou maior,Casado(a),24.0,Atrasado,782.6,0.0,782.6
1,2,24000.0,Feminino,Ensino superior ou maior,Solteiro(a),26.0,Antecipado,536.4,0.0,536.4
2,3,18000.0,Feminino,Ensino superior ou maior,Solteiro(a),34.0,Em dia,5847.8,303.6,5544.2
3,4,10000.0,Feminino,Ensino superior ou maior,Casado(a),37.0,Em dia,9398.0,400.0,8998.0
4,5,10000.0,Masculino,Ensino superior ou maior,Casado(a),57.0,Antecipado,1723.4,400.0,1323.4
5,6,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),37.0,Em dia,12880.0,500.0,12380.0
6,7,100000.0,Masculino,Ensino superior ou maior,Solteiro(a),29.0,Em dia,73593.0,11000.0,62593.0
7,8,20000.0,Feminino,Ensino superior ou maior,Solteiro(a),23.0,Em dia,2375.2,76.0,2299.2
8,9,28000.0,Feminino,Ensino medio ou menor,Casado(a),28.0,Em dia,2257.0,665.8,1591.2
9,10,4000.0,Masculino,Ensino medio ou menor,Solteiro(a),35.0,Antecipado,0.0,0.0,0.0
10,11,40000.0,Feminino,Ensino medio ou menor,Solteiro(a),34.0,Em dia,2214.6,461.2,1753.4
11,12,52000.0,Feminino,Ensino superior ou maior,Solteiro(a),51.0,Antecipado,2452.2,4363.6,-1911.4
12,13,126000.0,Feminino,Ensino superior ou maior,Solteiro(a),41.0,Antecipado,2427.4,200.0,2227.4
13,14,14000.0,Masculino,Ensino superior ou maior,Solteiro(a),30.0,Atrasado,13160.4,640.0,12520.4
14,15,50000.0,Masculino,Ensino superior ou maior,Solteiro(a),29.0,Em dia,14177.4,600.0,13577.4
15,16,10000.0,Feminino,Ensino medio ou menor,Outros,23.0,Atrasado,10122.8,0.0,10122.8
16,17,4000.0,Masculino,Ensino superior ou maior,Solteiro(a),24.0,Em dia,3075.2,640.0,2435.2
17,18,64000.0,Masculino,Ensino superior ou maior,Casado(a),49.0,Em dia,50657.2,2071.6,48585.6
18,19,72000.0,Feminino,Ensino superior ou maior,Casado(a),49.0,Atrasado,0.0,0.0,0.0
19,20,36000.0,Feminino,Ensino superior ou maior,Solteiro(a),29.0,Atrasado,0.0,0.0,0.0
20,21,26000.0,Feminino,Ensino medio ou menor,Solteiro(a),39.0,Em dia,7671.6,600.0,7071.6
21,22,24000.0,Feminino,Ensino superior ou maior,Casado(a),39.0,Antecipado,63.2,63.2,0.0
22,23,14000.0,Feminino,Ensino superior ou maior,Solteiro(a),26.0,Atrasado,8217.4,401.4,7816.0
23,24,90000.0,Feminino,Ensino superior ou maior,Casado(a),40.0,Antecipado,1102.4,3885.6,-2783.2
24,25,18000.0,Masculino,Ensino superior ou maior,Solteiro(a),23.0,Em dia,948.8,1151.4,-202.6
25,26,10000.0,Masculino,Ensino medio ou menor,Solteiro(a),23.0,Em dia,9524.0,394.6,9129.4
26,27,12000.0,Masculino,Ensino superior ou maior,Solteiro(a),27.0,Atrasado,-21.8,0.0,-21.8
27,28,10000.0,Feminino,Ensino medio ou menor,Solteiro(a),30.0,Em dia,4508.2,260.0,4248.2
28,29,10000.0,Feminino,Ensino medio ou menor,Casado(a),47.0,Antecipado,130.0,683.0,-553.0
29,30,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),26.0,Em dia,3065.8,300.0,2765.8
30,31,46000.0,Feminino,Ensino superior ou maior,Solteiro(a),27.0,Antecipado,3329.2,3454.0,-124.8
31,32,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),33.0,Atrasado,6103.6,343.6,5760.0
32,33,20000.0,Masculino,Ensino superior ou maior,Solteiro(a),32.0,Em dia,18607.2,604.6,18002.6
33,34,100000.0,Feminino,Ensino superior ou maior,Casado(a),54.0,Antecipado,2185.8,830.4,1355.4
34,35,100000.0,Masculino,Ensino superior ou maior,Casado(a),58.0,Antecipado,2741.8,1001.2,1740.6
35,36,32000.0,Masculino,Ensino superior ou maior,Solteiro(a),30.0,Antecipado,6053.0,26.2,6026.8
36,37,56000.0,Masculino,Ensino superior ou maior,Casado(a),40.0,Em dia,37300.6,1605.2,35695.4
37,38,12000.0,Feminino,Ensino superior ou maior,Solteiro(a),22.0,Em dia,3010.8,300.0,2710.8
38,39,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),25.0,Atrasado,0.0,156.0,-156.0
39,40,56000.0,Masculino,Ensino superior ou maior,Solteiro(a),31.0,Antecipado,99.6,1815.0,-1715.4
40,41,72000.0,Masculino,Ensino superior ou maior,Solteiro(a),33.0,Em dia,43733.6,2000.0,41733.6
41,42,14000.0,Feminino,Ensino superior ou maior,Solteiro(a),25.0,Em dia,13504.2,600.0,12904.2
42,43,2000.0,Masculino,Ensino superior ou maior,Solteiro(a),22.0,Em dia,375.4,300.0,75.4
43,44,28000.0,Feminino,Ensino superior ou maior,Casado(a),37.0,Em dia,11900.8,600.0,11300.8
44,45,8000.0,Feminino,Ensino superior ou maior,Solteiro(a),30.0,Em dia,3785.4,600.0,3185.4
45,46,42000.0,Masculino,Ensino superior ou maior,Solteiro(a),29.0,Antecipado,0.0,0.0,0.0
46,47,4000.0,Feminino,Ensino superior ou maior,Solteiro(a),22.0,Em dia,2805.6,600.0,2205.6
47,48,30000.0,Feminino,Ensino medio ou menor,Solteiro(a),46.0,Em dia,892.6,202.6,690.0
48,49,76000.0,Masculino,Ensino superior ou maior,Solteiro(a),32.0,Antecipado,4480.2,4308.0,172.2
49,50,4000.0,Masculino,Ensino superior ou maior,Solteiro(a),24.0,Em dia,3489.4,263.6,3225.8

In [ ]:
# > Existe algum cliente que possui débito negativo (ou seja, crédito)? 
# > Se sim, quantos? 
# Digite o valor (ou o comando) aqui: ________________ 
# Solução mais proxima encontrada por mim na apostila
print((credito["debito"] < 0 ).value_counts())

# Solução mais proxima encontrada por mim em pesquisas
print((credito["debito"] < 0).sum())

False    42
True      8
Name: debito, dtype: int64
8

**(0,5 ponto)** 3.g) Filtre o banco apenas para clientes com débito. Salve a base atualizada.

In [ ]:
# Questao 3
# 3.g) 
credito = credito[credito["debito"] > 0]
credito

,id,limites,sexo2,escolaridade2,status_civil2,idade,pagamento2,valor_divida,valor_pago,debito
0,1,4000.0,Feminino,Ensino superior ou maior,Casado(a),24.0,Atrasado,782.6,0.0,782.6
1,2,24000.0,Feminino,Ensino superior ou maior,Solteiro(a),26.0,Antecipado,536.4,0.0,536.4
2,3,18000.0,Feminino,Ensino superior ou maior,Solteiro(a),34.0,Em dia,5847.8,303.6,5544.2
3,4,10000.0,Feminino,Ensino superior ou maior,Casado(a),37.0,Em dia,9398.0,400.0,8998.0
4,5,10000.0,Masculino,Ensino superior ou maior,Casado(a),57.0,Antecipado,1723.4,400.0,1323.4
5,6,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),37.0,Em dia,12880.0,500.0,12380.0
6,7,100000.0,Masculino,Ensino superior ou maior,Solteiro(a),29.0,Em dia,73593.0,11000.0,62593.0
7,8,20000.0,Feminino,Ensino superior ou maior,Solteiro(a),23.0,Em dia,2375.2,76.0,2299.2
8,9,28000.0,Feminino,Ensino medio ou menor,Casado(a),28.0,Em dia,2257.0,665.8,1591.2
10,11,40000.0,Feminino,Ensino medio ou menor,Solteiro(a),34.0,Em dia,2214.6,461.2,1753.4
12,13,126000.0,Feminino,Ensino superior ou maior,Solteiro(a),41.0,Antecipado,2427.4,200.0,2227.4
13,14,14000.0,Masculino,Ensino superior ou maior,Solteiro(a),30.0,Atrasado,13160.4,640.0,12520.4
14,15,50000.0,Masculino,Ensino superior ou maior,Solteiro(a),29.0,Em dia,14177.4,600.0,13577.4
15,16,10000.0,Feminino,Ensino medio ou menor,Outros,23.0,Atrasado,10122.8,0.0,10122.8
16,17,4000.0,Masculino,Ensino superior ou maior,Solteiro(a),24.0,Em dia,3075.2,640.0,2435.2
17,18,64000.0,Masculino,Ensino superior ou maior,Casado(a),49.0,Em dia,50657.2,2071.6,48585.6
20,21,26000.0,Feminino,Ensino medio ou menor,Solteiro(a),39.0,Em dia,7671.6,600.0,7071.6
22,23,14000.0,Feminino,Ensino superior ou maior,Solteiro(a),26.0,Atrasado,8217.4,401.4,7816.0
25,26,10000.0,Masculino,Ensino medio ou menor,Solteiro(a),23.0,Em dia,9524.0,394.6,9129.4
27,28,10000.0,Feminino,Ensino medio ou menor,Solteiro(a),30.0,Em dia,4508.2,260.0,4248.2
29,30,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),26.0,Em dia,3065.8,300.0,2765.8
31,32,10000.0,Masculino,Ensino superior ou maior,Solteiro(a),33.0,Atrasado,6103.6,343.6,5760.0
32,33,20000.0,Masculino,Ensino superior ou maior,Solteiro(a),32.0,Em dia,18607.2,604.6,18002.6
33,34,100000.0,Feminino,Ensino superior ou maior,Casado(a),54.0,Antecipado,2185.8,830.4,1355.4
34,35,100000.0,Masculino,Ensino superior ou maior,Casado(a),58.0,Antecipado,2741.8,1001.2,1740.6
35,36,32000.0,Masculino,Ensino superior ou maior,Solteiro(a),30.0,Antecipado,6053.0,26.2,6026.8
36,37,56000.0,Masculino,Ensino superior ou maior,Casado(a),40.0,Em dia,37300.6,1605.2,35695.4
37,38,12000.0,Feminino,Ensino superior ou maior,Solteiro(a),22.0,Em dia,3010.8,300.0,2710.8
40,41,72000.0,Masculino,Ensino superior ou maior,Solteiro(a),33.0,Em dia,43733.6,2000.0,41733.6
41,42,14000.0,Feminino,Ensino superior ou maior,Solteiro(a),25.0,Em dia,13504.2,600.0,12904.2
42,43,2000.0,Masculino,Ensino superior ou maior,Solteiro(a),22.0,Em dia,375.4,300.0,75.4
43,44,28000.0,Feminino,Ensino superior ou maior,Casado(a),37.0,Em dia,11900.8,600.0,11300.8
44,45,8000.0,Feminino,Ensino superior ou maior,Solteiro(a),30.0,Em dia,3785.4,600.0,3185.4
46,47,4000.0,Feminino,Ensino superior ou maior,Solteiro(a),22.0,Em dia,2805.6,600.0,2205.6
47,48,30000.0,Feminino,Ensino medio ou menor,Solteiro(a),46.0,Em dia,892.6,202.6,690.0
48,49,76000.0,Masculino,Ensino superior ou maior,Solteiro(a),32.0,Antecipado,4480.2,4308.0,172.2
49,50,4000.0,Masculino,Ensino superior ou maior,Solteiro(a),24.0,Em dia,3489.4,263.6,3225.8

###Questão 4: Pensamento crítico

**(1,5 pontos)** Suponha que você trabalhe no banco de onde essa base de dados foi criada e tenha a missão de classificar clientes entre _bons_ e _maus_ pagadores. Quais variáveis você acredita que tenham relação com essa classificação? Para cada variável, justifique sua resposta.

# > Dê dois cliques e registre sua resposta aqui!

Na análise de **bons e maus pagadores**, acredito que as principais variáveis seriam:
 - **pagamento2**: pois demonstra se o pagamento foi feito em dia, atrasado ou adiantado.
 - **debito**: que mostra ela ainda tem um valor muito alto a pagar, se já quitou ou se tem até um crédito com o banco.